.logo {
    width: 6vw;
    height: 10vh;
    border-radius: 50%;
    cursor: pointer;
}

.logos {
    display: flex;
    justify-content: center;
    margin-left: 40vw;
}

.user-logo {
    display: flex;
    justify-content: space-evenly;
    padding-top: 2vh;
    margin-left: 35vw;
}

.user {
    font-size: 4.5vh;
    margin-left: 2vw;
    cursor: pointer;
}